.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Reduce max-width to make the div smaller */
  width: 100%;
}

.login-form-container {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-input {
  width: 100%; /* Ensure text fields fill the form width */
  margin: 0 auto;
}
